# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [2]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
# Filtrar datos
hp_dragon = df[df["Type 1"] == "Dragon"]["HP"].dropna()
hp_grass = df[df["Type 1"] == "Grass"]["HP"].dropna()

# Prueba de hip√≥tesis: media Dragon > media Grass
t_stat, p_value = st.ttest_ind(hp_dragon, hp_grass, alternative='greater')

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < 0.05:
    print("Rechazamos H‚ÇÄ: Los Dragon tienen m√°s HP que los Grass (significativo al 5%)")
else:
    print("No se puede rechazar H‚ÇÄ: No hay evidencia suficiente de que los Dragon tengan m√°s HP que los Grass")

T-statistic: 3.5904
P-value: 0.0003
Rechazamos H‚ÇÄ: Los Dragon tienen m√°s HP que los Grass (significativo al 5%)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [5]:
# Separar grupos
legendary = df[df["Legendary"] == True]
non_legendary = df[df["Legendary"] == False]

# Stats a comparar
stats = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]

# Probar cada atributo
for stat in stats:
    stat_legend = legendary[stat].dropna()
    stat_nonlegend = non_legendary[stat].dropna()

    t_stat, p_value = st.ttest_ind(stat_legend, stat_nonlegend, alternative='two-sided')

    print(f"\nüîç {stat}")
    print(f"  T-statistic: {t_stat:.4f}")
    print(f"  P-value: {p_value:.4f}")

    if p_value < 0.05:
        print("  ‚û§ Diferencia significativa entre Legendarios y No Legendarios")
    else:
        print("  ‚û§ No hay diferencia significativa")

üîç HP
  T-statistic: 8.0361
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

üîç Attack
  T-statistic: 10.3973
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

üîç Defense
  T-statistic: 7.1812
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

üîç Sp. Atk
  T-statistic: 14.1914
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

üîç Sp. Def
  T-statistic: 11.0378
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

üîç Speed
  T-statistic: 9.7652
  P-value: 0.0000
  ‚û§ Diferencia significativa entre Legendarios y No Legendarios

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [7]:
# Coordenadas
school_coords = (-118, 34)
hospital_coords = (-122, 37)

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [8]:
# Funci√≥n de distancia eucl√≠dea

def euclidean_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat1 - lat2)**2 + (lon1 - lon2)**2)

In [9]:
# Calculo distancia m√≠nima a una escuela o hospital

df["distance_to_school"] = euclidean_distance(df["latitude"], df["longitude"], school_coords[1], school_coords[0])
df["distance_to_hospital"] = euclidean_distance(df["latitude"], df["longitude"], hospital_coords[1], hospital_coords[0])

# Usar la distancia m√≠nima a cualquiera de los dos
df["min_distance"] = df[["distance_to_school", "distance_to_hospital"]].min(axis=1)

In [10]:
# Clasificar viviendas cerca (<0.5) vs lejos (>= 0.5)

df["is_close"] = df["min_distance"] < 0.5

In [12]:
from scipy.stats import ttest_ind

In [13]:
# Prueba de hip√≥tesis: ¬øcasas cercanas son m√°s caras?

close_prices = df[df["is_close"]]["median_house_value"]
far_prices = df[~df["is_close"]]["median_house_value"]

t_stat, p_value = ttest_ind(close_prices, far_prices, alternative='greater')

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < 0.05:
    print("Rechazamos H‚ÇÄ: Las casas cercanas son significativamente m√°s caras.")
else:
    print("No se puede rechazar H‚ÇÄ: No hay evidencia suficiente de que las casas cercanas sean m√°s caras.")

T-statistic: 38.0463
P-value: 0.0000
Rechazamos H‚ÇÄ: Las casas cercanas son significativamente m√°s caras.